<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TALA V3 Suite" parallel="tests" thread-count="2">
    <test name="Shared (NavBar + Footer)">
        <classes>
            <class name="runner.SharedRunner"/>
        </classes>
    </test>
    <test name="cPanel Hosting Landing Page">
        <classes>
            <class name="runner.CpanelHostingRunner"/>
        </classes>
    </test>
    <test name="Single Domain Hosting Landing Page">
        <classes>
            <class name="runner.SingleDomainHostingRunner"/>
        </classes>
    </test>
    <test name="Multiple Domain Hosting Landing Page">
        <classes>
            <class name="runner.MultipleDomainHostingRunner"/>
        </classes>
    </test>
    <test name="VPS Landing Page">
        <classes>
            <class name="runner.VpsRunner"/>
        </classes>
    </test>
    <test name="WooCommerce Landing Page">
        <classes>
            <class name="runner.WoocommerceRunner"/>
        </classes>
    </test>
    <test name="Private Registration Landing Page">
        <classes>
            <class name="runner.PrivateRegistrationRunner"/>
        </classes>
    </test>
</suite>
